{
  "extends": ["stylelint-config-recommended-scss", "stylelint-config-recess-order"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "selector-class-pattern": "^.[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
    "max-nesting-depth": 3,
    "color-hex-case": "lower",
    "string-quotes": "single",
    "block-opening-brace-space-before": "always",
    "declaration-block-trailing-semicolon": "always",
    "scss/dollar-variable-pattern": "^[a-z0-9-]+$"
  }
}
